// Color variables
$primary-color: #007bff;
$secondary-color: #6c757d;
$highlight-color: #ff4500;
// Font variables
$font-quicksand: 'Quicksand',
sans-serif;
$font-supreme: 'Poppins',
sans-serif; // Substitute for Supreme
$font-caveat: 'Caveat',
cursive;
$font-roboto: 'Roboto',
sans-serif;